.events-container {
    width: 100%;
    margin: 100px 0;
    padding-left: 200px;
    padding-right: 200px;
}

a {
    color: #003670;
}

/* TABS / NAVS */
.tab-pane {
    padding: 30px;
}

.nav-link.active {
    margin-top: -5px;
    border-top: solid 5px !important;
    border-top-color: #003670 !important;
}

.nav-tabs .nav-link {
    border: unset;
    border-top-left-radius: unset;
    border-top-right-radius: unset;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
}

.nav-item:first-child > .nav-link {
    border-left: unset;
}
.nav-container {
    border: solid 1px #dee2e6;
    border-left: solid 1px #dee2e6;
}

#toggleTab {
    background-color: #003670;
}

#toggleTab a {
    color: #fff;
}

#toggleTab:hover {
    background-color: #004187;
}
#toggleTab a:hover {
    color: #ececec;
}


/* TAGS */
tag {
    padding: 6px;
    border: solid 1px transparent;
    border-radius: 15px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 11px;
    color: #fff;
    /* default */
    background-color: #a5a5a5;
}

/* blue */
tag.updated, tag.head {
    background-color: #4e9dff;
}

/* green */
tag.created, tag.get {
    background-color: #10ac10;
}

/* red */
tag.destroyed, tag.delete {
    background-color: #ff4646;
}

/* cyan */
tag.user {
    background-color: #0dc5da;
}

/* ylw */
tag.post, tag.put, tag.patch {
    background-color: #eede05;
}

/* EVENTS TABLE */
.events td {
    padding: 10px;
}

table.dataTable {
    width: 100%;
}

th i , .method{
    margin-right: 5px;
}

.favorite {
    color: #eede05;
    margin-left: 5px;
}

.events tbody tr:nth-child(odd){
    background-color: #eff1f4;
}

/* EVENTS HISTORY MODAL */

.event-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.event-history-attrs, .event-history-values {
    white-space: pre-line;
}

.modal-content {
    padding: 30px;
}

.column-split {
    text-align: center;
}
.column-split i{
    font-size: 10px;
}

.column-split tag {
    font-size: 9px;
    display: block;
}

table.history {
    border-collapse: separate;
    border-spacing: 15px;
    line-height: 20px;
}

table.history .column-split {
    padding-right: 30px;
}

table.history td:not(.attribute-name):not(.column-split) {
    min-width: 200px;
}

ts {
    display: block;
    font-size: 9px;
    color: #626262;
}

ts[data-toggle], tag[data-toggle]{
    cursor: pointer;
    text-decoration: underline;
}


.modal-dialog {
    max-width: 90% !important;
}

.history-filter {
    display: block;
}


#history-slider .slider-selection {
	background: #c4e4f4;
}

#history-slider .slider-rangeHighlight {
	background: #f70616;
}

#history-slider .slider-rangeHighlight.updated {
    background: #4e9dff;
}

#history-slider .slider-rangeHighlight.startpoint {
    background: #10ac10;
}
